
@{
    ViewBag.Title = "Index";
}

<h2>User management</h2>

<p>Aangelogd? : @Request.IsAuthenticated</p>
<p>Ingelogde gebruiker : @User.Identity.Name</p>
<p>Authenticationtype : @User.Identity.AuthenticationType</p>
<p>Is een admin? : @User.IsInRole("Admin")</p>

@if (@User.IsInRole("Admin"))
{
    <p class="btn btn-default">@Html.ActionLink("Users", "Userbeheer", "User")</p>
    <p class="btn btn-default">@Html.ActionLink("Roles", "Rolebeheer", "User")</p>
}